body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dropzone-icon{
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 100px;
}

.professor-profile-form-container{
  margin: 20px;
}

.input-checkbox{
  margin-left: 15px;
}

input[type=date].input-date,
input[type=number].input-number{
  padding-right: 5px;
}
